body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.dp {
  color: peru;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.da {
  width: 50%;
  padding-left: 2%;
}
.da img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(155, 142, 118), rgb(202, 64, 122));
  color: white;
  font-weight: 700px;
  padding: 10px 30px;
  border-radius: 10px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.ex-item {
  width: 40%;
  box-shadow: 10px 20px 30px rgb(60, 70, 60);
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  border-radius: 10px;
}
#web-dev {
  border-left: 7px solid;
  border-image: linear-gradient(blue, orange);
  border-image-slice: 1;
}
#web-baby {
  border-left: 6px solid;
  border-image: linear-gradient(orange, blue);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
